<?xml version="1.0" encoding="utf-8" ?>
<menu>
  <module name ="Customers" icon="PersonMale32">
    <folder name="Master">
      <item name="Customers">
        <namespace>ERPCustomer.ERPCustomer.Forms.customerForm</namespace>
        <formtype>Document</formtype>
        <usergrant>User</usergrant>
      </item>
    </folder>
  </module>
</menu>