<?xml version="1.0" encoding="utf-8" ?>
<menu>
  <module name ="Customers" namespace="" code ="ERPC" serialtype ="LICENSE_NAME" enable="true" expirationdate="" icon="PersonMale32">
    <folder name="Master">
      <item name="Customers">
        <namespace>ERPCustomer.ERPCustomer.Forms.customerForm</namespace>
        <formtype>Document</formtype>
        <usergrant>User</usergrant>
      </item>
      <item name="Import">
        <namespace>Clothes.Clothes.Masters.Forms.MultiImport</namespace>
        <formtype>Batch</formtype>
        <usergrant>Administrator</usergrant>
      </item>
    </folder>
    <folder name="Report">
      <item name="Customer List">
        <namespace>Clothes.Clothes.Masters.Reports.Forms.CustomerList</namespace>
        <formtype>Report</formtype>
        <usergrant>User</usergrant>
      </item>
    </folder>
  </module>
</menu>