<?xml version="1.0" encoding="utf-8" ?>
<menu>
  <module name ="Anagrafiche" namespace="Masters" code ="MAST" serialtype ="LICENSE_NAME" expirationdate="31/12/2016" enable="true" icon="PersonMale32">
    <folder name="Anagrafiche">
      <item name="Clienti">
        <namespace>Clothes.Clothes.Masters.Forms.Masters</namespace>
        <formtype>Document</formtype>
        <usergrant>User</usergrant>
      </item>
      <item name="Import">
        <namespace>Clothes.Clothes.Masters.Forms.MultiImport</namespace>
        <formtype>Batch</formtype>
        <usergrant>Administrator</usergrant>
      </item>
    </folder>
    <folder name="Report">
      <item name="Elenco Clienti">
        <namespace>Clothes.Clothes.Masters.Reports.Forms.CustomerList</namespace>
        <formtype>Report</formtype>
        <usergrant>User</usergrant>
      </item>
    </folder>
  </module>
  <module name ="Articoli" namespace="Items" code ="ITEM" serialtype ="LICENSE_NAME" enable="true" expirationdate="31/12/2016" icon="Clothes32">
    <folder name="Risorse">
      <item name="Categorie">
        <namespace>Clothes.Clothes.Items.Forms.Categories</namespace>
        <formtype>Document</formtype>
        <usergrant>User</usergrant>
      </item>
      <item name="Taglie">
        <namespace>Clothes.Clothes.Items.Forms.Size</namespace>
        <formtype>Document</formtype>
        <usergrant>User</usergrant>
      </item>
      <item name="Stilisti">
        <namespace>Clothes.Clothes.Items.Forms.Designer</namespace>
        <formtype>Document</formtype>
        <usergrant>User</usergrant>
      </item>
      <item name="Materiali">
        <namespace>Clothes.Clothes.Items.Forms.Material</namespace>
        <formtype>Document</formtype>
        <usergrant>User</usergrant>
      </item>
      <item name="Colori">
        <namespace>Clothes.Clothes.Items.Forms.Color</namespace>
        <formtype>Document</formtype>
        <usergrant>User</usergrant>
      </item>
      <item name="Motivi">
        <namespace>Clothes.Clothes.Items.Forms.Pattern</namespace>
        <formtype>Document</formtype>
        <usergrant>User</usergrant>
      </item>
      <item name="Maniche">
        <namespace>Clothes.Clothes.Items.Forms.Sleeves</namespace>
        <formtype>Document</formtype>
        <usergrant>User</usergrant>
      </item>
      <item name="Lunghezza Vestito">
        <namespace>Clothes.Clothes.Items.Forms.Dress</namespace>
        <formtype>Document</formtype>
        <usergrant>User</usergrant>
      </item>
      <item name="Collo">
        <namespace>Clothes.Clothes.Items.Forms.Neck</namespace>
        <formtype>Document</formtype>
        <usergrant>User</usergrant>
      </item>
      <item name="Import">
        <namespace>Clothes.Clothes.Items.Forms.ImportDesigner</namespace>
        <formtype>Batch</formtype>
        <usergrant>Administrator</usergrant>
      </item>
      <item name="MultiImport">
        <namespace>Clothes.Clothes.Items.Forms.MultiImport</namespace>
        <formtype>Batch</formtype>
        <usergrant>Administrator</usergrant>
      </item>
    </folder>
    <folder name="Master">
      <item name="Articoli">
        <namespace>Clothes.Clothes.Items.Forms.Items</namespace>
        <formtype>Document</formtype>
        <usergrant>User</usergrant>
      </item>
      <item name="Articoli Sospesi">
        <namespace>Clothes.Clothes.Items.Forms.ItemsSuspended</namespace>
        <formtype>Document</formtype>
        <usergrant>User</usergrant>
      </item>
      <item name="Ricercatore">
        <namespace>Clothes.Clothes.Items.Forms.ItemSearcherForm</namespace>
        <formtype>FastDocument</formtype>
        <usergrant>User</usergrant>
      </item>
    </folder>
    <folder name="Stampe">
      <item name="Retro Etichette">
        <namespace>Clothes.Clothes.Items.Reports.Forms.PrintLabelsBack</namespace>
        <formtype>Report</formtype>
        <usergrant>User</usergrant>
      </item>
      <item name="Etichette">
        <namespace>Clothes.Clothes.Items.Reports.Forms.PrintLabelsFront</namespace>
        <formtype>Report</formtype>
        <usergrant>User</usergrant>
      </item>
      <item name="Articoli scaduti">
        <namespace>Clothes.Clothes.Items.Reports.Forms.ItemsExpired</namespace>
        <formtype>Report</formtype>
        <usergrant>User</usergrant>
      </item>
      <item name="Stato Cliente">
        <namespace>Clothes.Clothes.Items.Reports.Forms.CustomerStatus</namespace>
        <formtype>Report</formtype>
        <usergrant>User</usergrant>
      </item>
    </folder>
  </module>
  <module name ="Vendite" namespace="Sales" code ="SALE" serialtype ="LICENSE_NAME" enable="true" expirationdate="31/12/2016" icon="ShoppingCart32">
    <folder name="Vendite">
      <item name="Bolle di Carico">
        <namespace>Clothes.Clothes.Sales.Forms.BillsOfLading</namespace>
        <formtype>Document</formtype>
        <usergrant>User</usergrant>
      </item>
      <item name="Fatture di Vendita">
        <namespace>Clothes.Clothes.Sales.Forms.Invoice</namespace>
        <formtype>Document</formtype>
        <usergrant>User</usergrant>
      </item>
      <item name="Resi a Cliente">
        <namespace>Clothes.Clothes.Sales.Forms.ReturnToCustomer</namespace>
        <formtype>Document</formtype>
        <usergrant>User</usergrant>
      </item>
      <item name="Beneficenza">
        <namespace>Clothes.Clothes.Sales.Forms.Beneficence</namespace>
        <formtype>Document</formtype>
        <usergrant>User</usergrant>
      </item>
      <item name="Vendita articoli">
        <namespace>Clothes.Clothes.Sales.Forms.CounterSales</namespace>
        <formtype>Document</formtype>
        <usergrant>User</usergrant>
      </item>
      <item name="Reso articoli venduti">
        <namespace>Clothes.Clothes.Sales.Forms.ReturnItemsSold</namespace>
        <formtype>Batch</formtype>
        <usergrant>User</usergrant>
      </item>
      <item name="Sacchetti">
        <namespace>Clothes.Clothes.Sales.Forms.Bags</namespace>
        <formtype>Document</formtype>
        <usergrant>User</usergrant>
      </item>
      <item name="Import">
        <namespace>Clothes.Clothes.Sales.Forms.MultiImport</namespace>
        <formtype>Batch</formtype>
        <usergrant>Administrator</usergrant>
      </item>
      <item name="Registro Carico">
        <namespace>Clothes.Clothes.Sales.Reports.Forms.JournalEntries</namespace>
        <formtype>Report</formtype>
        <usergrant>SuperUser</usergrant>
      </item>
    </folder>
  </module>
  <module name ="Statistiche" namespace="Statistics" code ="STAT" serialtype ="LICENSE_NAME" enable="true" expirationdate="31/12/2016" icon="Futures32">
    <folder name="Report">
      <item name="Articoli da Pagare">
        <namespace>Clothes.Clothes.Statistics.Reports.Forms.ItemsToPay</namespace>
        <formtype>Report</formtype>
        <usergrant>SuperUser</usergrant>
      </item>
      <item name="Statistiche Clienti">
        <namespace>Clothes.Clothes.Statistics.Reports.Forms.CustomerStats</namespace>
        <formtype>Report</formtype>
        <usergrant>SuperUser</usergrant>
      </item>
      <item name="Vendite per Periodo">
        <namespace>Clothes.Clothes.Statistics.Reports.Forms.SalesByPeriod</namespace>
        <formtype>Report</formtype>
        <usergrant>User</usergrant>
      </item>      
      <item name="Informazioni">
        <namespace>Clothes.Clothes.Statistics.Forms.ItemsInfoForm</namespace>
        <formtype>Report</formtype>
        <usergrant>SuperUser</usergrant>
      </item>
    </folder>
  </module>
</menu>